extends _layout

block content
  #banner(style="background-image: url(https://bit.ly/2Qodh3Z)")
    img.vertical-title(src="../img/lg-想吃甜點是不需要理由的.svg")

  #products-wrapper
    ul#tags-menu.stacked
      li.title 甜點類別
      li.active 所有甜點（48）
      li 本日精選（10）
      li 人氣推薦（26）
      li 新品上市（12）

    section#products
      +product('https://bit.ly/2QiWeQW')
      +product('https://bit.ly/2zBjQuq')
      +product('https://bit.ly/2zKOP7w')
      +product('https://bit.ly/2NcDVuB')
      +product('https://bit.ly/2zBDAxX')
      +product('https://bit.ly/2zL5jN7')

  ul#pagination
    li: a: i.fas.fa-caret-left
    li: a.active 1
    li: a 2
    li: a 3
    li: a: i.fas.fa-caret-right
