$green-100: #EAF0ED;
$green-200: #8DA291;
$green-300: #3F5D45;

$primary: $green-300;
$secondary: #FFE180;

body {
  margin: 0;
}
header {
  background-color: white;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  .logo {
    width: 100px;
  }
}
.text-primary {
  color: $primary;
}

#tags-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;

  li {
    height: 120px;
    width: calc(100% / 3);
    background-color: $primary;
    color: white;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: flex;
    align-items: center;
    justify-content: center;

    &.active {
      color: $primary;
      background-color: $secondary;
    }
  }

  li + li {
    border-left: 1px solid white;
  }
}

img.horizontal-title {
  display: block;
  width: 200px;
  margin: 30px auto;
}

.cover-image {
  width: 100%;
  height: 70vw;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

img.vertical-title {
  display: none;
}

.idea-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.quote-group .description {
  padding: 30px;
  background-color: $green-100;
  color: $green-200;

  p {
    margin: 0;
    line-height: 30px;
  }

  p + p {
    margin-top: 40px;
  }
}

.product-entry {
  margin: 0 20px;

  .image-group {
    height: 360px;
    background-size: cover;
    background-position: center center;
    position: relative;

    .tag {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $primary;
      writing-mode: vertical-rl;
      text-orientation: upright;
      color: white;
      padding: 15px 10px;
      letter-spacing: 5px;
    }

    .wish-list {
      position: absolute;
      top: 0;
      right: 0;
      margin: 15px 20px;
      font-size: 20px;
    }
  }

  .info-group {
    display: flex;

    > * {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
      font-size: 20px;
      color: $primary;
      border-left: 1px solid $green-100;
      border-right: 1px solid $green-100;

      + * {
        border-left: 0;
      }
    }
  }

  .add-to-cart {
    width: 100%;
    border: 0;
    padding: 15px 0;
    font-size: 24px;
    font-weight: bold;
    color: $primary;
    background-color: $green-100;
  }
}

#products {
  padding-bottom: 30px;
}

#subscribe {
  padding: 30px;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title-group {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    img {
      width: 50px;
    }

    span {
      color: $green-100;
      font-size: 24px;
    }

    > * + * {
      margin-left: 20px;
    }
  }

  .input-group {
    background-color: $green-100;
    height: 60px;
    color: $primary;
    display: flex;

    .mail-icon, .submit {
      display: inline-block;
      width: 60px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    input {
      flex-grow: 1;
      background-color: $green-100;
      border: 0;
      font-size: 20px;
      color: $primary;
      padding: 0 15px;
      margin-left: -15px;
    }

    .submit {
      background-color: $secondary;
      border: 0;
    }

    i {
      font-size: 20px;
    }
  }

  > * + * {
    margin-top: 30px;
  }
}

footer {
  background-color: $green-100;
  padding: 30px;
  color: $primary;

  .logo {
    width: 200px;
  }

  .info-group {
    margin-top: 40px;

    > * + * {
      margin-top: 5px;
    }
  }

  > * + * {
    margin-top: 40px;
  }
}

#social-icons {
  img {
    height: 30px;
    width: unset;
    display: inline;
  }

  > * + * {
    margin-left: 10px;
  }
}

#copyright {
  font-family: times;
  margin-top: 20px;
}
