$green-100: #EAF0ED;
$green-200: #8DA291;
$green-300: #3F5D45;

$primary: $green-300;
$secondary: #FFE180;

$desktop-padding-x: 40px;
$footer-padding-x: 120px;

@import "mixins";
@import "utilities";

* {
  font-family: PingFang TC;
}

body {
  margin: 0;

  @include when-in-desktop {
    > * + * {
      @include spacing-between-sections;
    }
  }
}

header {
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $primary;

  @include when-in-desktop {
    height: 80px;
    padding: 5px $desktop-padding-x;
    display: flex;
    justify-content: flex-start;
  }

  #menu-toggle {
    margin: 0 30px;

    @include hide-in-desktop;
  }

  .logo-group {
    display: flex;

    @include flex-center;

    .logo {
      width: 100px;

      @include when-in-desktop {
        height: 25px;
        width: unset;
      }
    }

    .logo-square {
      width: 40px;

      @include hide-in-mobile;
    }

    @include when-in-desktop {
      > * + * {
        margin-left: 10px;
      }
    }
  }

  ul#nav-links {
    display: flex;
    margin-left: auto;

    @include list-unstyled;
    @include hide-in-mobile;

    li {
      margin: 0 25px;
    }
  }

  #cart-link {
    margin: 0 30px;

    @include when-in-desktop {
      margin-left: 50px;
      margin-right: 0;
    }
  }
}

.logo-square {
  width: 50px;
}

#tags-menu {
  display: flex;

  @include list-unstyled;
  @include flex-center;
  @include when-in-desktop {
    margin: -60px auto 0;
    width: 600px;
    z-index: 2;
  }

  li {
    height: 150px;
    width: 100%;
    background-color: rgba($primary, .9);
    color: white;
    display: flex;
    font-weight: lighter;
    letter-spacing: 5px;
    position: relative;
    font-size: 1.25rem;

    @include vertical-writing;
    @include flex-center;
    @include when-in-desktop {
      height: 220px;
      font-size: 1.5rem;
    }

    $blur-distance: 4px;

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: calc(100% - #{$blur-distance} * 2);
      height: calc(150px - #{$blur-distance} * 2);
      filter: blur($blur-distance);
      z-index: -1;

      @include bg-image;
      @include when-in-desktop {
        height: calc(220px - #{$blur-distance} * 2);
      }
    }

    &:nth-child(1):after {
      background-image: url(https://bit.ly/2R5tqwD);
    }

    &:nth-child(2):after {
      background-image: url(https://bit.ly/2Dwoxd7);
    }

    &:nth-child(3):after {
      background-image: url(https://bit.ly/2OUteif);
    }

    &.active {
      color: $primary;
      background-color: rgba($secondary, .9);
      font-weight: bold;
    }
  }

  li + li {
    border-left: 1px solid white;
  }
}

img.horizontal-title {
  display: block;
  width: 200px;
  margin: 30px auto;

  @include hide-in-desktop;
}

#banner {
  width: 100%;
  height: 70vw;

  @include bg-image;
  @include when-in-desktop {
    margin: 0 $desktop-padding-x;
    width: calc(100% - #{$desktop-padding-x} * 2);
    height: 40vw;
  }
}

img.vertical-title {
  display: inline;
  width: 90px;

  @include hide-in-mobile;
}

.idea-image {
  @include bg-image;
}

.quote-group {
  $height-in-desktop: 460px;
  $overflow-distance: 20px;

  @include when-in-desktop {
    display: flex;
    background-color: $green-100;
    height: $height-in-desktop;
    justify-content: space-between;
    align-items: start;
    padding: 0 $desktop-padding-x;

    &:nth-of-type(odd) {
      .cover-image {
        order: 2;
      }
      .vertical-title {
        order: 1;
      }
    }

    &:nth-of-type(even) {
      .vertical-title {
        order: 1;
      }
    }
  }

  .vertical-title {
    margin-top: -$overflow-distance;
  }

  .cover-image {
    width: 100%;
    height: 70vw;

    @include bg-image;
    @include when-in-desktop {
      width: $height-in-desktop;
      height: $height-in-desktop + $overflow-distance * 2;
      margin: -$overflow-distance 0;
    }
  }

  .description {
    padding: 30px;
    background-color: $green-100;
    color: $green-200;

    @include when-in-desktop {
      padding: 60px 0;

      @include vertical-writing;
    }

    p {
      margin: 0;
      line-height: 30px;

      @include when-in-desktop {
        line-height: 45px;
      }
    }

    p + p {
      margin-top: 40px;

      @include when-in-desktop {
        margin-top: 0;
        margin-right: 40px;
      }
    }
  }
}

#products {
  padding: 0 20px;

  @include when-in-desktop {
    display: flex;
    padding: 0 $desktop-padding-x;
  }
}

.product-entry {
  @include when-in-desktop {
    flex-grow: 1;
  }

  & + & {
    margin-top: 20px;

    @include when-in-desktop {
      margin-top: 0;
      margin-left: 20px;
    }
  }

  &:not(:first-of-type) {
    display: none;

    @include when-in-desktop {
      display: block;
    }
  }

  .image-group {
    height: 320px;
    position: relative;

    @include bg-image;

    .tag {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $primary;
      writing-mode: vertical-rl;
      text-orientation: upright;
      color: white;
      padding: 15px 10px;
      letter-spacing: 5px;
    }

    .wish-list {
      position: absolute;
      top: 0;
      right: 0;
      margin: 15px 20px;
      font-size: 1.25rem;
    }
  }

  .info-group {
    display: flex;

    > * {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
      font-size: 1.25rem;
      color: $primary;
      border-left: 1px solid $green-100;
      border-right: 1px solid $green-100;

      + * {
        border-left: 0;
      }
    }
  }

  .add-to-cart {
    width: 100%;
    border: 0;
    padding: 15px 0;
    font-size: 1.5rem;
    font-weight: bold;
    color: $primary;
    background-color: $green-100;
  }
}

#subscribe {
  padding: 30px;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  margin-top: 30px;

  @include flex-center;
  @include when-in-desktop {
    flex-direction: row;
    justify-content: space-between;
    padding: 30px $footer-padding-x;
    margin-top: 50px;
  }

  .title-group {
    display: inline-flex;

    @include flex-center;

    span {
      color: $green-100;
      font-size: 1.5rem;
    }

    > * + * {
      margin-left: 20px;
    }
  }

  .input-group {
    background-color: $green-100;
    height: 60px;
    color: $primary;
    display: flex;
    width: 100%;
    max-width: 400px;

    @include when-in-desktop {
      width: 400px;
    }

    .mail-icon, .submit {
      display: inline-flex;
      width: 60px;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }

    input {
      width: 0;
      flex-grow: 1;
      background-color: $green-100;
      border: 0;
      font-size: 1.25rem;
      color: $primary;
      padding: 0 15px;
      margin-left: -15px;
    }

    .submit {
      background-color: $secondary;
      border: 0;
    }

    i {
      font-size: 1.25rem;
    }
  }

  > * + * {
    margin-top: 30px;

    @include when-in-desktop {
      margin-top: 0;
    }
  }
}

footer {
  background-color: $green-100;
  padding: 30px;
  color: $primary;
  margin-top: 0;

  @include when-in-desktop {
    padding: 30px $footer-padding-x;
  }

  .logo {
    width: 200px;
  }

  .info-group {
    margin-top: 40px;

    > * + * {
      margin-top: 5px;
    }
  }

  @include when-in-desktop {
    .top-row {
      display: flex;
      justify-content: space-between;

      .left-grid {
        display: grid;
        flex-direction: column;

        .info-group {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
        }
      }

      .vertical-title {
        height: 200px;
      }
    }
  }

  .bottom-row {
    margin-top: 40px;

    @include when-in-desktop {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

#social-icons {
  img {
    height: 30px;
    display: inline;
  }

  > * + * {
    margin-left: 10px;
  }
}

#copyright {
  font-family: times;
  margin-top: 20px;
}
