$green-100: #EAF0ED;
$green-200: #8DA291;
$green-300: #3F5D45;

$primary: $green-300;
$secondary: #FFE180;

$desktop-padding-x: 40px;

@mixin hide-in-mobile {
  @media (max-width: 1023px) {
    display: none;
  }
}

@mixin hide-in-desktop {
  @media (min-width: 1024px) {
    display: none;
  }
}

@mixin when-in-desktop {
  @media (min-width: 1024px) {
    @content;
  }
}

@mixin bg-image {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

@mixin list-unstyled {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

@mixin flex-center {
  justify-content: center;
  align-items: center;
}

* {
  font-family: PingFang TC;
}

body {
  margin: 0;
}
header {
  background-color: white;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: $primary;

  @include when-in-desktop {
    height: 80px;
    padding: 5px $desktop-padding-x;
    display: flex;
    justify-content: flex-start;
  }

  #menu-toggle {
    margin: 0 30px;

    @include hide-in-desktop;
  }

  .logo-group {
    display: flex;

    @include flex-center;

    .logo {
      width: 100px;

      @include when-in-desktop {
        height: 25px;
        width: unset;
      }
    }

    .logo-square {
      width: 40px;

      @include hide-in-mobile;
    }

    @include when-in-desktop {
      > * + * {
        margin-left: 10px;
      }
    }
  }

  ul#nav-links {
    display: flex;
    margin-left: auto;

    @include list-unstyled;
    @include hide-in-mobile;

    li {
      margin: 0 25px;
    }
  }

  #cart-link {
    margin: 0 30px;

    @include when-in-desktop {
      margin-left: 50px;
      margin-right: 0;
    }
  }
}

.logo-square {
  width: 50px;
}

#tags-menu {
  display: flex;

  @include list-unstyled;

  li {
    height: 150px;
    width: calc(100% / 3);
    background-color: rgba($primary, .9);
    color: white;
    writing-mode: vertical-rl;
    text-orientation: upright;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: lighter;
    letter-spacing: 5px;
    position: relative;

    &:after {
      content: "";
      position: absolute;
      display: block;
      width: 100%;
      height: calc(150px - 4px);
      z-index: -1;
      filter: blur(2px);

      @include bg-image;
    }

    &:nth-child(1):after {
      background-image: url(https://bit.ly/2R5tqwD);
    }

    &:nth-child(2):after {
      background-image: url(https://bit.ly/2Dwoxd7);
    }

    &:nth-child(3):after {
      background-image: url(https://bit.ly/2OUteif);
    }

    &.active {
      color: $primary;
      background-color: rgba($secondary, .9);
      font-weight: normal;
    }
  }

  li + li {
    border-left: 1px solid white;
  }
}

img.horizontal-title {
  display: block;
  width: 200px;
  margin: 30px auto;

  @include hide-in-desktop;
}

.cover-image {
  width: 100%;
  height: 70vw;

  @include bg-image;
  @include when-in-desktop {
    margin: 0 $desktop-padding-x;
    width: calc(100% - #{$desktop-padding-x} * 2);
    height: 40vw;
  }
}

img.vertical-title {
  display: inline;

  @include hide-in-mobile;
}

.idea-image {
  @include bg-image;
}

.quote-group .description {
  padding: 30px;
  background-color: $green-100;
  color: $green-200;

  p {
    margin: 0;
    line-height: 30px;
  }

  p + p {
    margin-top: 40px;
  }
}

.product-entry {
  margin: 0 20px;

  .image-group {
    height: 360px;
    position: relative;

    @include bg-image;

    .tag {
      position: absolute;
      top: 0;
      left: 0;
      background-color: $primary;
      writing-mode: vertical-rl;
      text-orientation: upright;
      color: white;
      padding: 15px 10px;
      letter-spacing: 5px;
    }

    .wish-list {
      position: absolute;
      top: 0;
      right: 0;
      margin: 15px 20px;
      font-size: 20px;
    }
  }

  .info-group {
    display: flex;

    > * {
      flex-grow: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 15px 0;
      font-size: 20px;
      color: $primary;
      border-left: 1px solid $green-100;
      border-right: 1px solid $green-100;

      + * {
        border-left: 0;
      }
    }
  }

  .add-to-cart {
    width: 100%;
    border: 0;
    padding: 15px 0;
    font-size: 24px;
    font-weight: bold;
    color: $primary;
    background-color: $green-100;
  }
}

#products {
  padding-bottom: 30px;
}

#subscribe {
  padding: 30px;
  background-color: $primary;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .title-group {
    display: inline-flex;
    align-items: center;
    justify-content: center;

    span {
      color: $green-100;
      font-size: 24px;
    }

    > * + * {
      margin-left: 20px;
    }
  }

  .input-group {
    background-color: $green-100;
    height: 60px;
    color: $primary;
    display: flex;
    max-width: 100%;

    .mail-icon, .submit {
      display: inline-flex;
      width: 60px;
      align-items: center;
      justify-content: center;
      flex-shrink: 0;
    }

    input {
      width: 0;
      flex-grow: 1;
      background-color: $green-100;
      border: 0;
      font-size: 20px;
      color: $primary;
      padding: 0 15px;
      margin-left: -15px;
    }

    .submit {
      background-color: $secondary;
      border: 0;
    }

    i {
      font-size: 20px;
    }
  }

  > * + * {
    margin-top: 30px;
  }
}

footer {
  background-color: $green-100;
  padding: 30px;
  color: $primary;

  .logo {
    width: 200px;
  }

  .info-group {
    margin-top: 40px;

    > * + * {
      margin-top: 5px;
    }
  }

  > * + * {
    margin-top: 40px;
  }
}

#social-icons {
  img {
    height: 30px;
    display: inline;
  }

  > * + * {
    margin-left: 10px;
  }
}

#copyright {
  font-family: times;
  margin-top: 20px;
}
